nav {
    background-color: #007bff;
    padding: 10px;
    width: 100 px;
    font-size: x-large;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  .a2 {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
  }

  a:hover {
    color: #ffa65d;
  }